<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UName" value="**"/>
    <add key="PWord" value="**"/>
    <add key="NetworkID" value="27657"/>
    <add key="MeasurementInterval" value="1440"/>
    <add key="JsonConfigPath" value="Config.json"/>
    <add key="SaMiKey" value="SK503-201731D3E0F3DF62D08-28"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMeasurementsService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sami.savonia.fi/Service/1.0/MeasurementsService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMeasurementsService"
                contract="SaMi.IMeasurementsService" name="WSHttpBinding_IMeasurementsService" />
        </client>
    </system.serviceModel>
</configuration>